.side-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 15%;
    height: calc(100vh - 80px);
    color: white;
    background-color: #000101;
    padding-top: 20px;
  }
  
  .menu-list {
    list-style: none;
    padding: 0;
    width: 100%;
  }
  
  .menu-item {
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
    text-align: center;
  }
  
  .menu-item:hover {
    border-bottom: solid #fff;
    background-color: #333;
    padding: 15px;
    border-radius: 8px;
}
