.sidebar {
  width: 15%;
  background-color: #e2e8f0;
  color: #1e293b;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}


.sidebar-title {
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: bold;
  color: #0f172a;
  text-align: center;
}


.sidebar-options {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.sidebar-item {
  padding: 12px 16px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  color: #334155;
}

.sidebar-item:hover {
  background-color: #e2e8f0;
  transform: translateX(5px);
}


.sidebar-item.active {
  background-color: #0f172a;
  color: #ffffff;
  font-weight: bold;
}
