.side-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 15%;
    height: calc(100vh - 80px);
    background-color: #000000;
    padding-top: 20px;
  }
  
  .menu-list {
    list-style: none;
    padding: 0;
    width: 100%;
  }
  
  .menu-item {
    position: center;
    text-align: center;
    cursor: pointer;
    width: 100%;
    padding: 15px;
  }
  
  .menu-item:hover {
    background-color: #1a1a1a;
    border-left: solid #fff;
  }